#test_area {
  grid-area: test;
}
#status_area {
  grid-area: status;
  height: 36px;
}
#menu_area {
  grid-area: menu1;
}
#reserve_area {
  grid-area: reserve;
  width: 60px;
}
#select_area {
  grid-area: select;
  width: 280px;
  height: 760px;
}

#map_area {
  grid-area: map;
}

#log_area {
  grid-area: log;
  height: 760px;
  /* min-width: 150px; */
  overflow-y: scroll;
}
#command_area {
  grid-area: command;
  /* min-width: 150px; */
}
#chat_area {
  grid-area: chat;
}
#prop_area {
  grid-area: props;
}

#hand_area {
  grid-area: cards;
  height: 200px;
}
#cards2_area {
  grid-area: openCard;
  height: 200px;
}
#cards3_area {
  grid-area: invest;
  height: 200px;
}
.grid_game {
  display: grid;
  grid-template-columns: 60px 1190px auto;
  grid-template-rows: auto 760px auto auto;
  grid-template-areas:
    "status status status"
    "reserve map  log"
    "cards cards command"
    "openCard openCard command";
    /* "invest invest invest"; */
  grid-gap: 8px;
  background-color: #2196f3;
  padding: 8px;
}
.grid_game_select {
  display: grid;
  grid-template-columns: 280px 1190px auto;
  grid-template-rows: auto 760px auto auto;
  grid-template-areas:
    "status status status"
    "select map  log"
    "command cards cards"
    "command openCard openCard";
    /* "invest invest invest"; */
  grid-gap: 8px;
  background-color: #2196f3;
  padding: 8px;
}

.grid_game_no_reserve {
  display: grid;
  grid-template-columns: 1190px auto;
  grid-template-rows: auto 500px 260px auto auto auto;
  grid-template-areas:
    "status status"
    "map  log"
    "map  command"
    "cards command"
    "openCard openCard"
    "invest invest";
  grid-gap: 8px;
  background-color: #2196f3;
  padding: 8px;
}

.grid_test {
  display: grid;
  grid-template-columns: 60px 1190px auto;
  grid-template-rows: auto auto auto 500px 260px auto auto auto;
  grid-template-areas:
    "menu1 menu1 menu1"
    "test test test"
    "status status status"
    "reserve map  log"
    "reserve map  command"
    "cards cards command"
    "openCard openCard openCard"
    "invest invest invest";
  grid-gap: 8px;
  background-color: #2196f3;
  padding: 8px;
}

.grid_edit {
  display: grid;
  grid-template-columns: 60px 1190px auto;
  grid-template-rows: auto auto 200px 760px auto auto auto;
  grid-template-areas:
    "menu1 menu1 menu1"
    "status status status"
    "test test test"
    "reserve map  props"
    "cards cards cards"
    "openCard openCard openCard"
    "invest invest invest";
  grid-gap: 8px;
  background-color: #22dd5a;
  padding: 8px;
}

.grid_div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0;
  font-size: 20pt;
}
