body,
html {
  padding: 0px;
  margin: 0px;
}
body {
  min-width: 1416px; 
  /* min-width: 1366px; */
  font-family: Arial, Helvetica, sans-serif;
}

.lstTuples{
  font-family: Arial;
}

.hidden {
  display: none;
}
.svg {
  display: svg;
  min-width: 0px;
  width: auto;
}
.cursorPointer {
  cursor: pointer;
}

.flexdiv {
  display: flex;
  margin: 0;
  width: 100%;
}

.flex >div {
  flex: 0 1 auto;
  margin: 10px;
}
.flex >button {
  flex: 0 1 auto;
  /* margin: 10px; */
}

button {
  display: inline-block;
  margin: 2px;
  padding: 0px;
  font-size: 18pt;
  font-family:Verdana;
  height:30px;
  width:100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(1, 48, 87);
}

button:active {
  background-color: rgb(233, 138, 134);
}

.columnDiv{
  float:left;    
  width:150px;
  height:100%;
  /* background-color:red; */
}
.chrome{
  /* display: inline-block; */
  /* display:block; */
  margin: 2px;
  padding: 1px;
  width:140px;
}
label.chrome{
  text-align:left;
  font-size:14pt;
  height:25px;
  color:grey;
  margin-top:3px;
}
button.chrome{
  font-size: 18pt;
  font-family:Arial;
  height:32px;
  border:none;
}
input.chrome{
  text-align:center;
  font-size: 18pt;
  font-family:Verdana;
  height:30px;
  border:none;
  cursor: pointer;
}
