/* used for MS (game objects) */
.unit {
  fill: transparent;
}
.unit.highlighted{
  fill: rgba(255, 255, 0, 0.6);
}
.unit.selected{
  fill: rgba(255, 0, 0, 0.6);
}
.unit:hover {
  /* fill:red;  */
  fill: rgba(0,0,0, 0.5);
  z-index: 20;
}
.unit:active {
  /* fill:red;  */
  fill: rgba(255, 0, 0, 0.6);
  z-index: 20;
}
.blink{ animation: aniblink .5s infinite;}
@keyframes aniblink { from { opacity: .2; }  to { opacity: 1; }}

.mouseDisabled{
	pointer-events: none;
}

.overlay {
  fill: transparent;
}
.overlay.highlighted{
  fill: rgba(255, 255, 0, 0.3);
}
.overlay.selected{
  fill: rgba(255, 0, 0, 0.3);
}
.overlay.selGreen{
  fill: rgba(0, 255, 0, 0.3);
}
.overlay.selBlue{
  fill: rgba(0, 0, 255, 0.3);
}
.overlay:hover {
  /* fill:red;  */
  fill: rgba(0, 0, 0, 0.2);
  /* z-index: 10; */
}
.unit {
  fill: rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.region {
  fill: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.msToggleButton.highlighted{
  background-color:red;
}
.msToggleButton.selected{
  background-color:brown;
}
.msToggleButton.highlighted:hover{
  background-color:orange;
}



/* #region mil font */
/* needs to be included in index.html, url doesn't work like this! */
/* @font-face {
  font-family: "Military RPG";
  src: url("/a/assets/Military_RPG.ttf"); 
} */
/* #endregion mil font */
