.combatContainer {
	background-color: green;
}

.combatTitles {
	height: auto;
	background-color: blue;
}
.combatTitle {
	background-color: skyblue;
}
.combatSubtitle {
	height: auto;
	padding: 6px;
	background-color: red;
	font-size: 24px;
	color:white;
	text-align: left;
}

.battleGrid {
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.battleOuterOverview {
	background-color: yellow;
	flex: 0 0 auto;
}
.battleOuterSelected {
	background-color: yellow;
	flex: 1 0 800px;
}

.battleOuter {
	height: 100%;
	width: 100%;
	text-align: center;
}
.battleLeft {
	width: 70px;
	height: 100%;
	float: left; /* [1] */
	/* background-color: #fcc; */
	overflow-y: auto;
}
.battleRight {
	width: 70px;
	height: 100%;
	float: right; /* [3] */
	overflow-y: auto;
	/* background-color: #ccf;  */
}
.battleMiddle {
	/* background-color: #cfc;  */
	height: 100%;
	/* overflow: hidden;  */
}
.battleTitle {
	height: 25px;
	/* background-color:red; */
}
.battleFactions {
	/* background-color:blue; */
	position: relative;
	margin: auto;
}
.battleGroups {
	height: 25px;
	position: relative;
	top: -20px;
	left: 0px;
	text-align: left;
	/* background-color:red; */
}
.battleGroups >span{
	color:silver;
	background-color:navy;
	font-size:14px;
	padding:3px 10px;
	margin:6px;
}

.pulseOn {
	color: white;
	animation: pulse2 1s infinite;
}
@keyframes pulse {
	0% {
		background-color: #001f3f;
	}
	100% {
		background-color: #ff4136;
	}
}
@keyframes pulse2 {
	0%,
	100% {
		background-color: yellow;
	}
	50% {
		background-color: transparent;
	}
}
