body,
html {
  padding: 0px;
  margin: 0px;
}
body {
  min-width: 1366px;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}
.svg {
  display: svg;
  min-width: 0px;
  width: auto;
}
.cursorPointer {
  cursor: pointer;
}

.flexdiv {
  display: flex;
  margin: 0;
  width: 100%;
}

.flex >div {
  flex: 0 1 auto;
  margin: 10px;
}
.flex >button {
  flex: 0 1 auto;
  /* margin: 10px; */
}

button {
  display: inline-block;
  margin: 2px 0px 3px 0px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(1, 48, 87);
}

button:active {
  background-color: rgb(233, 138, 134);
}
