/* used for MS (game objects) */
.unit {
  fill: transparent;
}
.unit.highlighted{
  fill: rgba(255, 255, 0, 0.6);
}
.unit.selected{
  fill: rgba(255, 0, 0, 0.6);
}
.unit:hover {
  /* fill:red;  */
  fill: rgba(0,0,0, 0.5);
  z-index: 20;
}
.unit:active {
  /* fill:red;  */
  fill: rgba(255, 0, 0, 0.6);
  z-index: 20;
}

.overlay {
  fill: transparent;
}
.overlay.highlighted{
  fill: rgba(255, 255, 0, 0.3);
}
.overlay.selected{
  fill: rgba(255, 0, 0, 0.3);
}
.overlay:hover {
  /* fill:red;  */
  fill: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.region {
  fill: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.msToggleButton.highlighted{
  background-color:red;
}
.msToggleButton.selected{
  background-color:brown;
}
.msToggleButton.highlighted:hover{
  background-color:orange;
}



/* #region mil font */
/* needs to be included in index.html, url doesn't work like this! */
/* @font-face {
  font-family: "Military RPG";
  src: url("/common/assets/Military_RPG.ttf"); 
} */
/* #endregion mil font */
