/* centerSliderDiv gridContainer hCenterScreen hCenterBottom */
.cardGridContainer{
  position: fixed;
  left: 50vw;
  bottom: 0px;
  margin-right: -50%;
  transform: translate(-50%, 0);

  width: 100vw;
  height: auto;
  /* max-height: 0px; */
  /* margin: 10px; */
  /* overflow:hidden; */
  background-color: transparent;
  transition: 0.5s;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 6px;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

